
.product-card{
   transition: all 0.3s ease-in-out;

}


.product-card:hover{
  outline: none !important;
  scale: 1.02;
}

.product-card:hover,
.product-card:focus,
.product-card:active,
.product-card:focus-visible {
  outline: none !important;
  border: none !important;
  --tw-ring-shadow: none !important;
}

/* Remove Tailwind ring utility if present */
.product-card:hover, .product-card:focus, .product-card:active, .product-card:focus-visible {
  --tw-ring-shadow: none !important;
}